<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mélodie</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>
    <nav>
        <div class="nav-wrapper yellow accent-1">
            <center><img src="~/image/melodie.gif" class="center-align" /></center>
        </div>
    </nav>
    <header>

        <div class="container"><!-- responsive button for mobile view-->
            <a href="#" data-activates="nav-mobile" class="button-collapse top-nav waves-effect waves-light circle hide-on-large-only"><i class="mdi-navigation-menu large"></i></a>
        </div>

        <ul id="nav-mobile" class="side-nav fixed indigo">
            <li class="logo">

                @Html.ActionLink("Mélodie", "Index", "Home", null, new { @class = "black-text  brand-logo", @id = "logo-container" })
            </li>
            <li class="bold">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "black-text waves-effect waves-indigo" })</li>
            <li class="bold">@Html.ActionLink("About", "About", "Home", null, new { @class = "black-text waves-effect waves-indigo" })</li>
            <li class="bold">@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "black-text waves-effect waves-indigo" })</li>
            <li class="bold">@Html.ActionLink("Login", "Login", "Account", null, new { @class = "black-text waves-effect waves-indigo" })</li>
            <li class="bold">@Html.ActionLink("Register", "Register", "Account", null, new { @class = "black-text waves-effect waves-indigo" })</li>
            <!-- @Html.Partial("_LoginPartial") -->
        </ul>

    </header>



   <main>
       <div class="section">
           <div class="container">
               @RenderBody()
           </div>
       </div>
    </main>
    <footer class="page-footer indigo lighten-4">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="black-text">Mélodie Maker</h5>
                    <p class="black-text text-lighten-4">Design for students to complete their musical training.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="black-text">Links</h5>
                    <ul>
                        <li><a class="black-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="black-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="black-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="black-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright indigo lighten-3">
            <div class="container">
                <p class="black-text">&copy; @DateTime.Now.Year - Mélodie Maker</p>
            </div>
        </div>
    </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/materialize")
        @RenderSection("scripts", required: false)
</body>
</html>
