@using Mélodie.Controllers;
@using Mélodie.Models;
@using Microsoft.AspNet.Identity;
@if (Request.IsAuthenticated)
{
    if (Request.Cookies["Role"] != null && Server.HtmlEncode(Request.Cookies["Role"].Value).Equals("Instructor"))
    {
    
        <li class="bold">@Html.ActionLink("Students", "Index", "Users", null, new { @class = "black-text waves-effect waves-indigo" })</li>
        <li class="bold">@Html.ActionLink("Courses", "Index", "Courses", null, new { @class = "black-text waves-effect waves-indigo" })</li>

    }
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
 {
    @Html.AntiForgeryToken()
        <li class="bold">@Html.ActionLink("Courses", "Index", "Courses", null, new { @class = "black-text waves-effect waves-indigo" })</li>
        <li class ="bold">@Html.ActionLink("Manage", "Manage", "Account", null, new { @class = "black-text waves-effect waves-indigo" })</li>
        <li class ="bold"><a href="javascript:document.getElementById('logoutForm').submit()" class="black-text waves-effect waves-indigo">Log off</a></li>
 }
}
else
{

    <ul class="nav navbar-nav navbar-right">
        <li class="bold">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" , @class = "black-text waves-effect waves-indigo" })</li>
    </ul>
}
