@model Mélodie.Models.Questions

<link href="~/css/piano.css" rel="stylesheet" />
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Question 1</h4>
<hr />
<!--
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.lesson_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lesson_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.points)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.points)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

-->

<!-- TOOD Need to add all audio assets to main application -->
    <audio id='D-0'>
      <source src='~/Sounds/117720_646701-lq.mp3' type='audio/mpeg'>
      Sorry, no support for the <code>audio</code> tag
    </audio>
    <audio id='D-sharp-0'>
      <source src='~/Sounds/117719_646701-lq.mp3' type='audio/mpeg'>
      Sorry, no support for the <code>audio</code> tag
    </audio>
    <audio id='E-1'>
      <source src='~/Sounds/117714_646701-lq.mp3' type='audio/mpeg'>
      Sorry, no support for the <code>audio</code> tag
    </audio>
    <audio id='F-1'>
      <source src='~/Sounds/117716_646701-lq.mp3' type='audio/mpeg'>
      Sorry, no support for the <code>audio</code> tag
    </audio>
    <audio id='F-sharp-1'>
      <source src='~/Sounds/117715_646701-lq.mp3' type='audio/mpeg'>
      Sorry, no support for the <code>audio</code> tag
    </audio>
    <audio id='G-1'>
      <source src='~/Sounds/117718_646701-lq.mp3' type='audio/mpeg'>
      Sorry, no support for the <code>audio</code> tag
    </audio>
    <audio id='G-sharp-1'>
      <source src='~/Sounds/117717_646701-lq.mp3' type='audio/mpeg'>
      Sorry, no support for the <code>audio</code> tag
    </audio>
    <audio id='A-1'>
      <source src='~/Sounds/117708_646701-lq.mp3' type='audio/mpeg'>
      Sorry, no support for the <code>audio</code> tag
    </audio>
    <audio id='A-sharp-1'>
      <source src='~/Sounds/117707_646701-lq.mp3' type='audio/mpeg'>
      Sorry, no support for the <code>audio</code> tag
    </audio>
    <audio id='B-1'>
      <source src='~/Sounds/117709_646701-lq.mp3' type='audio/mpeg'>
      Sorry, no support for the <code>audio</code> tag
    </audio>
    <audio id='C-1'>
      <source src='~/Sounds/117711_646701-lq.mp3' type='audio/mpeg'>
      Sorry, no support for the <code>audio</code> tag
    </audio>
    <audio id='C-sharp-1'>
      <source src='~/Sounds/117710_646701-lq.mp3' type='audio/mpeg'>
      Sorry, no support for the <code>audio</code> tag
    </audio>
    <audio id='D-1'>
      <source src='~/Sounds/117713_646701-lq.mp3' type='audio/mpeg'>
      Sorry, no support for the <code>audio</code> tag
    </audio>
    <audio id='D-sharp-1'>
      <source src='~/Sounds/117712_646701-lq.mp3' type='audio/mpeg'>
      Sorry, no support for the <code>audio</code> tag
    </audio>
    <audio id='E-2'>
      <source src='~/Sounds/117689_646701-lq.mp3' type='audio/mpeg'>
      Sorry, no support for the <code>audio</code> tag
    </audio>
    <audio id='F-2'>
      <source src='~/Sounds/117691_646701-lq.mp3' type='audio/mpeg'>
      Sorry, no support for the <code>audio</code> tag
    </audio>
    <audio id='F-sharp-2'>
      <source src='~/Sounds/117690_646701-lq.mp3' type='audio/mpeg'>
      Sorry, no support for the <code>audio</code> tag
    </audio>
    <audio id='G-2'>
      <source src='~/Sounds/117693_646701-lq.mp3' type='audio/mpeg'>
      Sorry, no support for the <code>audio</code> tag
    </audio>
    <audio id='G-sharp-2'>
      <source src='~/Sounds/117692_646701-lq.mp3' type='audio/mpeg'>
      Sorry, no support for the <code>audio</code> tag
    </audio>
    <audio id='A-2'>
      <source src='~/Sounds/117683_646701-lq.mp3' type='audio/mpeg'>
      Sorry, no support for the <code>audio</code> tag
    </audio>
    <audio id='A-sharp-2'>
      <source src='~/Sounds/117682_646701-lq.mp3' type='audio/mpeg'>
      Sorry, no support for the <code>audio</code> tag
    </audio>
    <audio id='B-2'>
      <source src='~/Sounds/117684_646701-lq.mp3' type='audio/mpeg'>
      Sorry, no support for the <code>audio</code> tag
    </audio>
    <audio id='C-2'>
      <source src='~/Sounds/117686_646701-lq.mp3' type='audio/mpeg'>
      Sorry, no support for the <code>audio</code> tag
    </audio>
    <audio id='C-sharp-2'>
      <source src='~/Sounds/117685_646701-lq.mp3' type='audio/mpeg'>
      Sorry, no support for the <code>audio</code> tag
    </audio>
    <audio id='D-2'>
      <source src='~/Sounds/117688_646701-lq.mp3' type='audio/mpeg'>
      Sorry, no support for the <code>audio</code> tag
    </audio>
    <audio id='D-sharp-2'>
      <source src='~/Sounds/117687_646701-lq.mp3' type='audio/mpeg'>
      Sorry, no support for the <code>audio</code> tag
    </audio>
    <audio id='E-3'>
      <source src='~/Sounds/117701_646701-lq.mp3' type='audio/mpeg'>
      Sorry, no support for the <code>audio</code> tag
    </audio>
    <audio id='F-3'>
      <source src='~/Sounds/117703_646701-lq.mp3' type='audio/mpeg'>
      Sorry, no support for the <code>audio</code> tag
    </audio>
    <audio id='F-sharp-3'>
      <source src='~/Sounds/117702_646701-lq.mp3' type='audio/mpeg'>
      Sorry, no support for the <code>audio</code> tag
    </audio>
    <audio id='G-3'>
      <source src='~/Sounds/117705_646701-lq.mp3' type='audio/mpeg'>
      Sorry, no support for the <code>audio</code> tag
    </audio>
    <audio id='G-sharp-3'>
      <source src='~/Sounds/117704_646701-lq.mp3' type='audio/mpeg'>
      Sorry, no support for the <code>audio</code> tag
    </audio>
    <audio id='A-3'>
      <source src='~/Sounds/117695_646701-lq.mp3' type='audio/mpeg'>
      Sorry, no support for the <code>audio</code> tag
    </audio>
    <audio id='A-sharp-3'>
      <source src='~/Sounds/117694_646701-lq.mp3' type='audio/mpeg'>
      Sorry, no support for the <code>audio</code> tag
    </audio>
    <audio id='B-3'>
      <source src='~/Sounds/117696_646701-lq.mp3' type='audio/mpeg'>
      Sorry, no support for the <code>audio</code> tag
    </audio>
    <audio id='C-3'>
      <source src='~/Sounds/117852_646701-lq.mp3' type='audio/mpeg'>
      Sorry, no support for the <code>audio</code> tag
    </audio>
    <audio id='C-sharp-3'>
      <source src='~/Sounds/117697_646701-lq.mp3' type='audio/mpeg'>
      Sorry, no support for the <code>audio</code> tag
    </audio>
    <audio id='D-3'>
      <source src='~/Sounds/117700_646701-lq.mp3' type='audio/mpeg'>
      Sorry, no support for the <code>audio</code> tag
    </audio>
    <audio id='D-sharp-3'>
      <source src='~/Sounds/117699_646701-lq.mp3' type='audio/mpeg'>
      Sorry, no support for the <code>audio</code> tag
    </audio>
    <audio id='E-4'>
      <source src='~/Sounds/117706_646701-lq.mp3' type='audio/mpeg'>
      Sorry, no support for the <code>audio</code> tag
    </audio>
    <audio id='sample'>
      <source src='http://www.freesound.org/data/previews/186/186942_2594536-lq.mp3' type='audio/mpeg'>
      Sorry, no support for the <code>audio</code> tag
    </audio>


<style>
table {
  border-collapse: collapse;
  border-left: 1px solid #000000;
  /*border-right: 1px solid #000000;*/
}

td {
    position: relative;
    padding: 2.5px 1px;
}

tr.strikeout td:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    border-bottom: 1px solid #111;
    width: 100%;
}
.note {
  background-color:rgba(192,192,192,0.125);
  width: 50px;
  height: 40px;
  margin:auto;
}
.holder{
  overflow: visible;
  width: 50px;
  height: 40px;
  display:block;
  margin:auto;
}
.music_sheet.row .col {
   padding: 0;
}
.music_sheet {
border: 1px dashed #000000;
}

</style>
<script>
var samplePlays = 3;
$(document).ready();
function selectNote(){
  var x = document.getElementById("notes").value;
  console.log("Note"+x);
  var note = "<img class=\"holder\" style=\"width: 50px; height: 40px;\" id=\"note\" src=\"/image/" + x + "_note.png" + "\"draggable=\"true\" ondragstart=\"drag(event)\" />";
  $(note).replaceAll('#note');
}
function selectRest(){
  var x = document.getElementById("rests").value;
  console.log("Rest"+x)
  var rest = "<img class=\"holder\" style=\"width: 50px; height: 40px;\" id=\"rest\" src=\"/image/"+x+"_rest.png"+"\"draggable=\"true\" ondragstart=\"drag(event)\" />"
  $(rest).replaceAll('#rest');

}
var note_id =0;
function allowDrop(ev) {
  ev.preventDefault();
}

function drag(ev) {
  ev.dataTransfer.setData("text/html", ev.target.id);
  console.log("Target_id:"+ev.target.id);
}

function drop(ev) {
ev.preventDefault();
var data=ev.dataTransfer.getData("text/html");
/* If you use DOM manipulation functions, their default behaviour it not to
   copy but to alter and move elements. By appending a ".cloneNode(true)",
   you will not move the original element, but create a copy. */
if( data.indexOf("clone")){
  var nodeCopy = document.getElementById(data).cloneNode(true);
  nodeCopy.id = "clone_"+note_id+"_"+data; /* We cannot use the same ID */
    note_id = note_id +1;
  ev.target.appendChild(nodeCopy);
}else{
  ev.target.appendChild(document.getElementById(data));
}
}
function saveOption(){
Materialize.toast("You have saved your document", 4000);
}
function playSample(){
samplePlays = samplePlays - 1;
if(samplePlays >= 0){
var x = document.getElementById('sample');
x.volume = 1;
x.currentTime = 0;
x.play();
$('#playCount').html(samplePlays);
}else{
Materialize.toast("You have no more plays.", 4000)
}
}
</script>
<div class="container">
<div class="row">
&nbsp;
</div>
</div>
<div class="container">
<div class="row">
  <div class="col s4">
    <a class="btn" onclick="addBar()">Add Bar Line</a>
  </div>
  <div class="col s4">
    <a class="btn" onclick="saveOption()">Save Music Sheet</a>
  </div>
  <div class="col s4">
    <a class="btn" onclick="playSample()">Play Music Sample</a>
    <p>Remaining Plays: <text id="playCount">3</text></p>
  </div>
</div>
</div>
<div class="container" id="whole_sheet">
  <div id="music_sheet_1" class="music_sheet row">
    <div class="col s2" id="bar_1">
      <table >
          <tr id="">
              <td>
                  <div class="note" ondrop="drop(event)" ondragover="allowDrop(event)">
                    <!-- Notes should be placed here -->
                  </div>
              </td>
          <tr class="strikeout">
            <td>
                <div class="note" ondrop="drop(event)" ondragover="allowDrop(event)">
                  <!-- Notes should be placed here -->
                </div>
            </td>
          </tr>
          <tr>
            <td>
                <div class="note" ondrop="drop(event)" ondragover="allowDrop(event)">
                  <!-- Notes should be placed here -->
                </div>
            </td>
          </tr>
          <tr class="strikeout">
            <td>
                <div class="note" ondrop="drop(event)" ondragover="allowDrop(event)">
                  <!-- Notes should be placed here -->
                </div>
            </td>
          </tr>
          <tr>
            <td>
                <div class="note" ondrop="drop(event)" ondragover="allowDrop(event)">
                  <!-- Notes should be placed here -->
                </div>
            </td>
          </tr>
          <tr class="strikeout">
            <td>
                <div class="note" ondrop="drop(event)" ondragover="allowDrop(event)">
                  <!-- Notes should be placed here -->
                </div>
            </td>
          </tr>
          <tr>
            <td>
                <div class="note" ondrop="drop(event)" ondragover="allowDrop(event)">
                  <!-- Notes should be placed here -->
                </div>
            </td>
          </tr>
          <tr class="strikeout">
            <td>
                <div class="note" ondrop="drop(event)" ondragover="allowDrop(event)">
                  <!-- Notes should be placed here -->
                </div>
            </td>
          </tr>
          <tr>
            <td>
                <div class="note" ondrop="drop(event)" ondragover="allowDrop(event)">
                  <!-- Notes should be placed here -->
                </div>
            </td>
          </tr>
          <tr class="strikeout">
            <td>
                <div class="note" ondrop="drop(event)" ondragover="allowDrop(event)">
                  <!-- Notes should be placed here -->
                </div>
            </td>
          </tr>
          <tr>
            <td>
                <div class="note" ondrop="drop(event)" ondragover="allowDrop(event)">
                  <!-- Notes should be placed here -->
                </div>
            </td>
          </tr>
      </table>
  </div>
</div>
</div>
<div class="container">
<div class="row">
  <div class="col s4">
    <div id="noteHolder" style="border: 1px solid #000000;">
        <img class="holder" id="note" src="~/image/0_note.png" draggable="true" ondragstart="drag(event)" />
    </div>
    <label>Notes:</label>
      <select id="notes" class="browser-default" onchange="selectNote()">
        <option value="0">Whole Note</option>
        <option value="1">Half Note</option>
        <option value="2">Quarter Note</option>
        <option value="3">Eight Note</option>
      </select>
    </div>
<div class="col s4">
        &nbsp;
    </div>
<div class="col s4">
    <div id="restHolder" style="border: 1px solid #000000;">
        <img class="holder" id="rest" src="~/image/0_rest.png" draggable="true" ondragstart="drag(event)" />
    </div>
    <label>Rests:</label>
      <select id="rests" class="browser-default" onchange="selectRest()">
        <option value="0">Whole Rest</option>
        <option value="1">Half Rest</option>
        <option value="2">Quarter Rest</option>
        <option value="3">Eight Rest</option>
      </select>
    </div>
  </div>
</div>

<div id="piano" class="container piano" >
   <ul id='note-list'>
    <li data-keycode='122' id='D-0-player'>
      <div class='text keys'>z</div>
      <div class='text notes'>D</div>
    </li>
    <li data-keycode='120' id='D-sharp-0-player'>
      <div class='text keys'>x</div>
      <div class='text notes'>D#</div>
    </li>
    <li data-keycode='99' id='E-1-player'>
      <div class='text keys'>c</div>
      <div class='text notes'>E</div>
    </li>
    <li data-keycode='118' id='F-1-player'>
      <div class='text keys'>v</div>
      <div class='text notes'>F</div>
    </li>
    <li data-keycode='98' id='F-sharp-1-player'>
      <div class='text keys'>b</div>
      <div class='text notes'>F#</div>
    </li>
    <li data-keycode='110' id='G-1-player'>
      <div class='text keys'>n</div>
      <div class='text notes'>G</div>
    </li>
    <li data-keycode='109' id='G-sharp-1-player'>
      <div class='text keys'>m</div>
      <div class='text notes'>G#</div>
    </li>
    <li data-keycode='44' id='A-1-player'>
      <div class='text keys'>,</div>
      <div class='text notes'>A</div>
    </li>
    <li data-keycode='46' id='A-sharp-1-player'>
      <div class='text keys'>.</div>
      <div class='text notes'>A#</div>
    </li>
    <li data-keycode='97' id='B-1-player'>
      <div class='text keys'>a</div>
      <div class='text notes'>B</div>
    </li>
    <li data-keycode='115' id='C-1-player'>
      <div class='text keys'>s</div>
      <div class='text notes'>C</div>
    </li>
    <li data-keycode='100' id='C-sharp-1-player'>
      <div class='text keys'>d</div>
      <div class='text notes'>C#</div>
    </li>
    <li data-keycode='102' id='D-1-player'>
      <div class='text keys'>f</div>
      <div class='text notes'>D</div>
    </li>
    <li data-keycode='103' id='D-sharp-1-player'>
      <div class='text keys'>g</div>
      <div class='text notes'>D#</div>
    </li>
    <li data-keycode='104' id='E-2-player'>
      <div class='text keys'>h</div>
      <div class='text notes'>E</div>
    </li>
    <li data-keycode='106' id='F-2-player'>
      <div class='text keys'>j</div>
      <div class='text notes'>F</div>
    </li>
    <li data-keycode='107' id='F-sharp-2-player'>
      <div class='text keys'>k</div>
      <div class='text notes'>F#</div>
    </li>
    <li data-keycode='108' id='G-2-player'>
      <div class='text keys'>l</div>
      <div class='text notes'>G</div>
    </li>
    <li data-keycode='59' id='G-sharp-2-player'>
      <div class='text keys'>;</div>
      <div class='text notes'>G#</div>
    </li>
    <li data-keycode='113' id='A-2-player'>
      <div class='text keys'>q</div>
      <div class='text notes'>A</div>
    </li>
    <li data-keycode='119' id='A-sharp-2-player'>
      <div class='text keys'>w</div>
      <div class='text notes'>A#</div>
    </li>
    <li data-keycode='101' id='B-2-player'>
      <div class='text keys'>e</div>
      <div class='text notes'>B</div>
    </li>
    <li data-keycode='114' id='C-2-player'>
      <div class='text keys'>r</div>
      <div class='text notes'>C</div>
    </li>
    <li data-keycode='116' id='C-sharp-2-player'>
      <div class='text keys'>t</div>
      <div class='text notes'>C#</div>
    </li>
    <li data-keycode='121' id='D-2-player'>
      <div class='text keys'>y</div>
      <div class='text notes'>D</div>
    </li>
    <li data-keycode='117' id='D-sharp-2-player'>
      <div class='text keys'>u</div>
      <div class='text notes'>D#</div>
    </li>
    <li data-keycode='105' id='E-3-player'>
      <div class='text keys'>i</div>
      <div class='text notes'>E</div>
    </li>
    <li data-keycode='111' id='F-3-player'>
      <div class='text keys'>o</div>
      <div class='text notes'>F</div>
    </li>
    <li data-keycode='112' id='F-sharp-3-player'>
      <div class='text keys'>p</div>
      <div class='text notes'>F#</div>
    </li>
    <li data-keycode='49' id='G-3-player'>
      <div class='text keys'>1</div>
      <div class='text notes'>G</div>
    </li>
    <li data-keycode='50' id='G-sharp-3-player'>
      <div class='text keys'>2</div>
      <div class='text notes'>G#</div>
    </li>
    <li data-keycode='51' id='A-3-player'>
      <div class='text keys'>3</div>
      <div class='text notes'>A</div>
    </li>
    <li data-keycode='52' id='A-sharp-3-player'>
      <div class='text keys'>4</div>
      <div class='text notes'>A#</div>
    </li>
    <li data-keycode='53' id='B-3-player'>
      <div class='text keys'>5</div>
      <div class='text notes'>B</div>
    </li>
    <li data-keycode='54' id='C-3-player'>
      <div class='text keys'>6</div>
      <div class='text notes'>C</div>
    </li>
    <li data-keycode='55' id='C-sharp-3-player'>
      <div class='text keys'>7</div>
      <div class='text notes'>C#</div>
    </li>
    <li data-keycode='56' id='D-3-player'>
      <div class='text keys'>8</div>
      <div class='text notes'>D</div>
    </li>
    <li data-keycode='57' id='D-sharp-3-player'>
      <div class='text keys'>9</div>
      <div class='text notes'>D#</div>
    </li>
    <li data-keycode='48' id='E-4-player'>
      <div class='text keys'>0</div>
      <div class='text notes'>E</div>
    </li>
  </ul>

<h5 class='switch-to'>Switch To&colon;</h5>
  <button class='btn-large' id='switch-chars'>
    <div class='to-keys'><h5>Keyboard Letters</h5></div>
    <div class='to-notes'><h5>Music Notes</h5></div>
  </button>
</div>

<div class="container">
<div class="row">
&nbsp;
</div>
</div>


<script>

// init bars should be 1
var bars = 1;
var msid = 1;
// Add more bars to the view function
function addBar(){
  if (bars < 6 ){
    bars = bars + 1;
    $('<div class="col s2" id="bar_'+ bars +'"><table ><tr><td><div class="note" ondrop="drop(event)" ondragover="allowDrop(event)"><!-- Notes should be placed here --></div></td></tr><tr class="strikeout"><td><div class="note" ondrop="drop(event)" ondragover="allowDrop(event)"><!-- Notes should be placed here --></div></td></tr><tr><td><div class="note" ondrop="drop(event)" ondragover="allowDrop(event)"><!-- Notes should be placed here --></div></td></tr><tr class="strikeout"><td><div class="note" ondrop="drop(event)" ondragover="allowDrop(event)"><!-- Notes should be placed here --></div></td></tr><tr><td><div class="note" ondrop="drop(event)" ondragover="allowDrop(event)"><!-- Notes should be placed here --></div></td></tr><tr class="strikeout"><td><div class="note" ondrop="drop(event)" ondragover="allowDrop(event)"><!-- Notes should be placed here --></div></td></tr><tr><td><div class="note" ondrop="drop(event)" ondragover="allowDrop(event)"><!-- Notes should be placed here --></div></td></tr><tr class="strikeout"><td><div class="note" ondrop="drop(event)" ondragover="allowDrop(event)"><!-- Notes should be placed here --></div></td></tr><tr><td><div class="note" ondrop="drop(event)" ondragover="allowDrop(event)"><!-- Notes should be placed here --></div></td></tr><tr class="strikeout"><td><div class="note" ondrop="drop(event)" ondragover="allowDrop(event)"><!-- Notes should be placed here --></div></td></tr><tr><td><div class="note" ondrop="drop(event)" ondragover="allowDrop(event)"><!-- Notes should be placed here --></div></td></tr></table></div>').appendTo("#music_sheet_"+msid);
    Materialize.toast("Added measure", 4000);
  }else{
    msid = msid + 1;
    bars = 1;
Materialize.toast("Added measure", 4000);
    $('<div id="music_sheet_' + msid + '" class="music_sheet row"></div>').insertAfter("#music_sheet_"+(msid-1));
    $('<div class="col s2" id="bar_'+ bars +'"><table ><tr><td><div class="note" ondrop="drop(event)" ondragover="allowDrop(event)"><!-- Notes should be placed here --></div></td></tr><tr class="strikeout"><td><div class="note" ondrop="drop(event)" ondragover="allowDrop(event)"><!-- Notes should be placed here --></div></td></tr><tr><td><div class="note" ondrop="drop(event)" ondragover="allowDrop(event)"><!-- Notes should be placed here --></div></td></tr><tr class="strikeout"><td><div class="note" ondrop="drop(event)" ondragover="allowDrop(event)"><!-- Notes should be placed here --></div></td></tr><tr><td><div class="note" ondrop="drop(event)" ondragover="allowDrop(event)"><!-- Notes should be placed here --></div></td></tr><tr class="strikeout"><td><div class="note" ondrop="drop(event)" ondragover="allowDrop(event)"><!-- Notes should be placed here --></div></td></tr><tr><td><div class="note" ondrop="drop(event)" ondragover="allowDrop(event)"><!-- Notes should be placed here --></div></td></tr><tr class="strikeout"><td><div class="note" ondrop="drop(event)" ondragover="allowDrop(event)"><!-- Notes should be placed here --></div></td></tr><tr><td><div class="note" ondrop="drop(event)" ondragover="allowDrop(event)"><!-- Notes should be placed here --></div></td></tr><tr class="strikeout"><td><div class="note" ondrop="drop(event)" ondragover="allowDrop(event)"><!-- Notes should be placed here --></div></td></tr><tr><td><div class="note" ondrop="drop(event)" ondragover="allowDrop(event)"><!-- Notes should be placed here --></div></td></tr></table></div>').appendTo("#music_sheet_"+msid);

  }
}

</script>
<script src="~/js/piano.js"></script>
