@model Mélodie.Models.Users

@{
    ViewBag.Title = "User Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <div class="row">
        <h2>@ViewBag.Title</h2>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                <h5>Username:</h5>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.username)
            </dd>

            <dt>
               <h5>Email:</h5>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>


            <dt>
                <h5>Role:</h5>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.role_id)
            </dd>

        </dl>
        <hr />
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
    <div>
        <canvas id="lessonChart" width="500" height="500"></canvas>
        <script type="text/javascript">
            $(Document).ready(function () {
                var ctx = document.getElementById("lessonChart").getContext("2d");
                var data = {
                    labels: ["January", "February", "March", "April", "May", "June", "July"],
                    datasets: [
                        {
                            label: "My First dataset",
                            fillColor: "rgba(220,220,220,0.5)",
                            strokeColor: "rgba(220,220,220,0.8)",
                            highlightFill: "rgba(220,220,220,0.75)",
                            highlightStroke: "rgba(220,220,220,1)",
                            data: [65, 59, 80, 81, 56, 55, 40]
                        },
                        {
                            label: "My Second dataset",
                            fillColor: "rgba(151,187,205,0.5)",
                            strokeColor: "rgba(151,187,205,0.8)",
                            highlightFill: "rgba(151,187,205,0.75)",
                            highlightStroke: "rgba(151,187,205,1)",
                            data: [28, 48, 40, 19, 86, 27, 90]
                        }
                    ]
                };
            });
            var chart = new Chart(ctx).Bar();
            
        </script>
    </div>
</div>
<script src="~/js/Charts/Chart.js"></script>

