@model IEnumerable<Mélodie.Models.Users>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <h2>Index</h2>
        
        <p>
            @Html.ActionLink("Create New", "Register", new { controller = "Account" }, new { @class = "btn" })
        </p>
        <hr />
        <form action="/Users/Import" method="post" enctype="multipart/form-data">
            <div class="file-field input-field">
                <div class="btn">
                    <span>File</span>
                    <input type="file" name="file" id="txtUploadFile" class="makethispretty" />
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
            <input class="btn" type="submit" value="Import">
        </form>
        <hr />
        <script>
            $('#txtUploadFile').on('change', function (e) {
                console.log("Access");
                var files = e.target.files;
                var myID = 3; //uncomment this to make sure the ajax URL works
                if (files.length > 0) {
                    if (window.FormData !== undefined) {
                        var data = new FormData();
                        for (var x = 0; x < files.length; x++) {
                            data.append("file" + x, files[x]);
                        }
                    } else {
                        alert("This browser doesn't support HTML5 file uploads!");
                    }
                }
            });
          
        </script>

        <table class="table">
            <tr>
                <th>
                    Username
                </th>
                <th>
                    Email
                </th>
                <!--<th>
                    //Html.DisplayNameFor(model => model.password_salt)
                </th>
                <th>
                    //Html.DisplayNameFor(model => model.password_hash)
                </th>-->
                <th>
                    Role
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                if (item.role_id == "Instructor")
                {

                }
                else
                {
                     <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.email)
                    </td>
                    <!--<td>
                        //Html.DisplayFor(modelItem => item.password_salt)
                    </td>
                    <td>
                        //Html.DisplayFor(modelItem => item.password_hash)
                    </td>-->
                    <td>
                        @Html.DisplayFor(modelItem => item.role_id)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>
                </tr>
                }
               
            }

        </table>
    </div>
</div>
